QuestionForm(xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd")
  Overview
    Title Extract Information from a Receipt
    Text If the receipt is absolutely unreadable do mark it as unreadable. We will inform the user that he needs to take a better picture./Text
    Binary
      MimeType
        Type image
        SubType= receipt.imageSubType
      DataURL= receipt.imageURL
      AltText Receipt image

  // Amount
  Question
    QuestionIdentifier amount
    DisplayName Total Amount
    IsRequired true
    QuestionContent
      Text Total amount for the receipt, tax and tip included:
    AnswerSpecification
      FreeTextAnswer
        Constraints
          IsNumeric
        NumberOfLinesSuggestion 1

  // Total People
  Question
    QuestionIdentifier people
    DisplayName Total
    IsRequired false
    QuestionContent
      Text Total number of people, if more than 1:
    AnswerSpecification
      FreeTextAnswer
        Constraints
          IsNumeric
        NumberOfLinesSuggestion 1

  // Currency
  Question
    QuestionIdentifier currency
    DisplayName Currency
    IsRequired true
    QuestionContent
      Text Input the 3-digit currency code - USD, GBP, EUR, etc.:
    AnswerSpecification
      FreeTextAnswer
        Constraints
          Length(minLength="3", maxLength="3")
        NumberOfLinesSuggestion 1

  // Location
  Question
    QuestionIdentifier location
    DisplayName Location
    IsRequired true
    QuestionContent
      Text Input the location for the receipt. Format: city, country:
    AnswerSpecification
      FreeTextAnswer
        Constraints
          Length(minLength="3", maxLength="100")
        NumberOfLinesSuggestion 1

  // Year
  Question
    QuestionIdentifier year
    DisplayName Year
    IsRequired true
    QuestionContent
      Text Year of the receipt date:
    AnswerSpecification
      FreeTextAnswer
        Constraints
          IsNumeric(minValue="2000", maxValue="2100")
        NumberOfLinesSuggestion 1

  // Month
  Question
    QuestionIdentifier month
    DisplayName Month
    IsRequired true
    QuestionContent
      Text Month of the receipt date (1-12):
    AnswerSpecification
      FreeTextAnswer
        Constraints
          IsNumeric(minValue="1", maxValue="12")
        NumberOfLinesSuggestion 1

  // Day
  Question
    QuestionIdentifier day
    DisplayName Day
    IsRequired true
    QuestionContent
      Text Day of the receipt date (1-31):
    AnswerSpecification
      FreeTextAnswer
        Constraints
          IsNumeric(minValue="1", maxValue="31")
        NumberOfLinesSuggestion 1

  // Hour
  Question
    QuestionIdentifier hour
    DisplayName Hour
    IsRequired true
    QuestionContent
      Text Hour of the receipt date (0-23):
    AnswerSpecification
      FreeTextAnswer
        Constraints
          IsNumeric(minValue="0", maxValue="23")
        NumberOfLinesSuggestion 1

  // Venue
  Question
    QuestionIdentifier venue
    DisplayName Venue name
    IsRequired false
    QuestionContent
      Text The name of the venue (if applicable):
    AnswerSpecification
      FreeTextAnswer
        Constraints
          Length(minLength="0", maxLength="100")
        NumberOfLinesSuggestion 1

  // Credit Card
  Question
    QuestionIdentifier credit_card
    DisplayName Credit Card
    IsRequired false
    QuestionContent
      Text Credit card number (if applicable) with just numbers, no spaces:
    AnswerSpecification
      FreeTextAnswer
        Constraints
          Length(minLength="0", maxLength="16")
        NumberOfLinesSuggestion 1

  // Unreadable
  Question
    QuestionIdentifier unreadable
    DisplayName Unreadable?
    IsRequired false
    QuestionContent
      Text Is receipt unreadable?
    AnswerSpecification
      SelectionAnswer
        StyleSuggestion radiobutton
        Selections
          Selection
            SelectionIdentifier readable
            Text No
          Selection
            SelectionIdentifier unreadable
            Text Yes, it's unreadable

  // Comments
  Question
    QuestionIdentifier comments
    DisplayName Comments
    IsRequired false
    QuestionContent
      Text Please provide any comments you may have below, we appreciate your input!
    AnswerSpecification
      FreeTextAnswer